transformers>=4.12.2
langchain  
torch 
huggingface_hub==0.0.16
fastapi 
pyngrok
uvicorn
nest-asyncio==1.5.1
pypi-json
einops==0.3.3
xformers
sentencepiece==0.1.96
exllama>=0.0.6+cu117  
auto-gptq 
transformers-stream-generator  
websockets 
flask-cloudflared
fire
